# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.jupyter
ipynb_checkpoints

# Virtual Environment
# .env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store